.titulo {
	height: 75px;
	align-items: center;
}
.container-redes {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 150px;
	column-gap: 150px;
}
.container-redes img {
	height: 100px;
}
.container-redes img:hover {
	transform: scale(1.1);
	transition: 0.5s ease-in;
}
.formulario {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	width: 40%;
}
.fila {
	margin: 0 auto;
	width: 90%;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.fila legend {
	width: 30%;
}
.fila input {
	width: 100%;
	height: 70%;
	border-radius: 7px;
}
.mensaje {
	height: 200px;
	margin-top: 50px;
	display: flex;
	flex-direction: column;
}
.mensaje textarea {
	margin: 0 auto;
	height: 100%;
	width: 90%;
}
.botonera {
	height: 100px;
}
.botonera button {
	height: 50px;
}
