.compra {
	display: flex;
	width: 25%;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 100000;
	background: whitesmoke;
	border: 1px solid black;
}

.close {
	height: 30px;
	width: 30px;
	border-radius: 5px;
	text-decoration: solid;
	display: flex;
	align-items: center;
	justify-content: center;
}

.closeBar {
	padding: 10px;
	width: 100%;
	display: flex;
	justify-content: end;
}
