img {
	height: 500px;
}
/* These are the KEY styles - you can add them directly to any object you want in your project */
.fancy-border-radius {
	border-radius: 73% 27% 30% 70% / 70% 70% 30% 30%;

	/* These are ADDITIONAL styles - add them if you want an object exactly like in the demo above */
	width: 400px;
	height: 400px;
	background: #ad5389;
	background: -webkit-linear-gradient(to right, #3c1053, #ad5389);
	background: linear-gradient(to right, #3c1053, #ad5389);
}

/* These are the KEY styles - you can add them directly to any object you want in your project */
.fancy-border-radius2 {
	border-radius: 26% 74% 30% 70% / 70% 70% 30% 30%;

	/* These are ADDITIONAL styles - add them if you want an object exactly like in the demo above */
	width: 400px;
	height: 400px;
	background: #ad5389;
	background: -webkit-linear-gradient(to right, #3c1053, #ad5389);
	background: linear-gradient(to right, #3c1053, #ad5389);
}
