img {
	border-radius: 10px;
	height: 400px;
}

.fancy-border-radius {
	border-radius: 52% 48% 46% 54% / 57% 40% 60% 43%;
	width: 400px;
	height: 400px;
	background: #ad5389;
	background: -webkit-linear-gradient(to right, #3c1053, #ad5389);
	background: linear-gradient(to right, #3c1053, #ad5389);
	color: white;
}

.distancia {
	margin: 0 auto;
	width: 95%;
}
.col {
	margin-block: 50px;
}
