header {
	height: 300px;
	position: relative;
	background: url("https://img.freepik.com/fotos-premium/strbske-pleso-spring-view-lago-montana-eslovaquia_392053-20.jpg?w=996");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 50;
}
