.card {
	width: 250px;
	padding: 5px;
}
.prod-img {
	height: 225px;
	border-radius: 30px;
}

.card-body {
	height: 50%;
	margin: 0 auto;
}
.card-body h5 {
	width: 100%;
}
.card-body p {
	margin: 0 auto;
	text-align: center;
	overflow: visible;
}
.precio {
	width: 75%;
	font-size: 1.3em;
}
.card-title {
	text-align: center;
}
