.imgIco {
	height: 50px;
}
nav {
	height: 75px;
	position: sticky;
	top: 0; /* Ajusta para estar justo debajo del header */
	z-index: 1000; /* Asegúrate de que esté por encima del header y otros elementos */
}

.navbar-nav {
	width: 50%;
	display: flex;
	background: whitesmoke;
	justify-content: space-around;
	align-items: center;
}
